<div class="row px-0 mx-0 color">
    <div class="container">
      <footer class="row py-4 ">
       <div class="col-xl-3 col-md-3 pt-2">
        <p class="mx-auto  py-0 mt-2 cen">  <img class="mx-0" src="../../assets/landing/vfairs-logo.svg" width="180px;" height="180px;"></p>
       </div>
       <div class="col-xl-5 col-md-3 " >
        <!-- <p class="mx-auto text-center py-4" routerLink="/about" routerLinkActive="active"style="width: fit-content; cursor: pointer;">About</p> -->
        <p class="mx-auto py-4 mt-0 cen" routerLink="/about" routerLinkActive="active"style=" cursor: pointer;">About  <span></span></p>
   
      </div>
      <div  class="col-xl-4 col-md-6  py-4 cen " style="cursor: pointer;">
        © 2022 Imercify &nbsp;|&nbsp;<a href="/privacy-policy/"
        title="Privacy Policy"routerLink="/policy" routerLinkActive="active">Privacy Policy</a>&nbsp;|&nbsp;<span>Terms of Service</span>
       <div></div>
      </div>
      </footer>
    <!-- </div> -->
  </div> 